<html>
<head>
    <title>Current issues</title>
    <style>
      td,
      th {
        border: 1px solid black;
        padding: 10px;
      }

      #main {
        padding-left: 150px;
        padding-top: 50px;
      }

      footer {
        position: relative;
        bottom: 0px;
        padding: 3px;
        background-color: rgb(24, 166, 223);
        color: white;
      }
    </style>
    <link rel="stylesheet" href="nav_css.css"/>
    <link rel="icon" href="icon.jpg" type="image/x-icon"/>
</head>
<body>
<ul>
    <li><a href="home.html">Home</a></li>
    <li><a href="acknowledgement.html">Report complaint</a></li>
</ul>

<div id="main">
    <h1><u>CURRENT ISSUES</u></h1>
    <form>
        <main>
            <table style="border: 1px solid black">
                <tr>
                    <th style="column-width: 100px; background-color: tomato">Date</th>
                    <th style="column-width: 100px; background-color: tomato">Complaint</th>
                    <th style="column-width: 300px; background-color: tomato">Location</th>
                    <th style="column-width: 600px; background-color: tomato">Desc</th>
                    <th style="column-width: 600px; background-color: tomato">Image</th>
                </tr>
                <tbody>
                <% Complaints.forEach(function(complaint) { %>

                    <tr>
                        <td>
                            <p><%= complaint.date_time; %></p>
                        </td>
                        <td>
                            <p><%= complaint.type; %></p>
                        </td>
                        <td>
                            <p><%= complaint.location; %></p>
                        </td>
                        <td>
                            <p><%= complaint.description; %></p>
                        </td>
                        <td class='complaint-url'>
                            <a href='<%= complaint.url %>'>Image URL</a>
                        </td>
                    </tr>
                    </tbody>
                <% }); %>
            </table>
            <br/>
        </main>
    </form>
</div>
<br/><br/><br/><br/><br/>
<footer>
    <p>
        This website is managed by team 5<br/>
        For any feedback:
        <a href="feedback_form.html">feedback</a>
    </p>
</footer>
<script>
  const urls = document.querySelectorAll('.complaint-url > a');
  Array.from(urls).forEach(async function (url) {
    url.innerText = await fetch(url.getAttribute('href') || 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/1022px-Placeholder_view_vector.svg.png?20220519031949').then((response) => response.text()).then(text => {
      const re = /<title>(.*?)<\/title>/;
      const found = text.match(re);
      console.log('Changing')
      return (found && found[1]) || 'Image';
    })
  })
</script>
</body>
</html>
